/App.Consoler/obj
/App.Consoler/bin/Debug/*.pdb
/App.Consoler/bin/Debug/Logs
/App.Schedule/obj
/App.Schedule/bin/Debug/App.Components.pdb
/App.Scheduler/obj
/App.Scheduler/bin/Debug/*.pdb
/App.SchedulerStd/obj
/App.ConsolerCore/obj
/NetCore/App.ConsolerCore/obj
/NetCore/App.SchedulerStd/obj
/NetFramework/App.Consoler/obj/Debug
/NetFramework/App.Scheduler/obj/Debug
